## 1. Data Loading and Initial Overview

This section focuses on importing the RBI digital payments dataset using Python and obtaining an initial understanding of its structure, size, and basic characteristics. The objective is to familiarize ourselves with the dataset before proceeding to data preprocessing and analysis.

In [2]:
import pandas as pd

file_path = r"C:\Users\krish\Downloads\rbi_daily_digital_payments.csv"
df = pd.read_csv(file_path)

### Dataset Dimensions

The shape of the dataset provides information on the total number of observations (rows) and variables (columns). This helps in understanding the scale and complexity of the data.

In [4]:
df.shape

(1706, 50)

### Data Types of Variables

Understanding the data types of each column is essential for correct analysis. This step helps identify numerical, categorical, and date variables and highlights any incorrect data type assignments.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1706 entries, 0 to 1705
Data columns (total 50 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             1706 non-null   int64
 1   date                                   1706 non-null   object
 2   rtgs_vol                               1662 non-null   float64
 3   rtgs_val                               1662 non-null   float64
 4   neft_vol                               1706 non-null   float64
 5   neft_val                               1706 non-null   float64
 6   aeps_vol                               1706 non-null   float64
 7   aeps_val                               1706 non-null   float64
 8   upi_vol                                1706 non-null   float64
 9   upi_val                                1706 non-null   float64
 10  imps_vol                               1706 non-null   float64
 11  imps_val                               1706 non-null   float64
 12  nach_credit_vol                        1611 non-null   float64
 13  nach_credit_val                        1611 non-null   float64
 14  nach_debit_vol                         1608 non-null   float64
 15  nach_debit_val                         1608 non-null   float64
 16  netc_vol                               1706 non-null   float64
 17  netc_val                               1706 non-null   float64
 18  bbps_vol                               1706 non-null   float64
 19  bbps_val                               1706 non-null   float64
 20  cts_vol                                1340 non-null   float64
 21  cts_val                                1340 non-null   float64
 22  nfs_through_atms_vol                   1706 non-null   float64
 23  nfs_through_atms_val                   1706 non-null   float64
 24  aeps_through_micro_atms_or_bcs_vol     1706 non-null   float64
 25  aeps_through_micro_atms_or_bcs_val     1706 non-null   float64
 26  credit_card_at_pos_and_e_commerce_vol  334 non-null    float64
 27  credit_card_at_pos_and_e_commerce_val  334 non-null    float64
 28  debit_card_at_pos_and_e_commerce_vol   334 non-null    float64
 29  debit_card_at_pos_and_e_commerce_val   334 non-null    float64
 30  ppis_card_at_pos_and_e_commerce_vol    334 non-null    float64
 31  ppis_card_at_pos_and_e_commerce_val    334 non-null    float64
 32  government_securities_clearing_vol     1017 non-null   float64
 33  government_securities_clearing_val     1016 non-null   float64
 34  forex_clearing_vol                     1010 non-null   float64
 35  forex_clearing_val                     1010 non-null   float64
 36  rupee_derivatives_vol                  1013 non-null   float64
 37  rupee_derivatives_val                  1013 non-null   float64
 38  credit_card_at_pos_vol                 1219 non-null   float64
 39  credit_card_at_pos_val                 1219 non-null   float64
 40  credit_card_at_e_commerce_vol          1219 non-null   float64
 41  credit_card_at_e_commerce_val          1219 non-null   float64
 42  debit_card_at_pos_vol                  1219 non-null   float64
 43  debit_card_at_pos_val                  1219 non-null   float64
 44  debit_card_at_e_commerce_vol           1219 non-null   float64
 45  debit_card_at_e_commerce_val           1219 non-null   float64
 46  ppis_card_at_pos_vol                   1219 non-null   float64
 47  ppis_card_at_pos_val                   1219 non-null   float64
 48  ppis_card_at_e_commerce_vol            1219 non-null   float64
 49  ppis_card_at_e_commerce_val            1219 non-null   float64
dtypes: float64(48), int64(1), object(1)
memory usage: 666.5+ KB

### Initial Observations

Initial exploration helps in identifying missing values, unusual patterns, and the overall distribution of data. Functions like `head()` and `describe()` provide a snapshot of the dataset.

In [6]:
df.head()

,Unnamed: 0,date,rtgs_vol,rtgs_val,neft_vol,neft_val,aeps_vol,aeps_val,upi_vol,upi_val,...,credit_card_at_e_commerce_vol,credit_card_at_e_commerce_val,debit_card_at_pos_vol,debit_card_at_pos_val,debit_card_at_e_commerce_vol,debit_card_at_e_commerce_val,ppis_card_at_pos_vol,ppis_card_at_pos_val,ppis_card_at_e_commerce_vol,ppis_card_at_e_commerce_val
0,0,01-06-2020,4.85,436996.69,172.11,104275.13,0.44,7.68,476.97,10413.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,02-06-2020,4.54,361878.87,100.07,65259.02,0.44,7.67,476.78,9951.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,03-06-2020,4.30,330632.89,100.36,62985.75,0.44,7.48,456.26,9622.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,04-06-2020,4.35,329072.45,94.66,63148.29,0.45,7.32,463.05,9639.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,05-06-2020,4.56,365468.95,111.26,68932.72,0.48,7.32,464.79,9539.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.describe()

,Unnamed: 0,rtgs_vol,rtgs_val,neft_vol,neft_val,aeps_vol,aeps_val,upi_vol,upi_val,imps_vol,...,credit_card_at_e_commerce_vol,credit_card_at_e_commerce_val,debit_card_at_pos_vol,debit_card_at_pos_val,debit_card_at_e_commerce_vol,debit_card_at_e_commerce_val,ppis_card_at_pos_vol,ppis_card_at_pos_val,ppis_card_at_e_commerce_vol,ppis_card_at_e_commerce_val
count,1706.000000,1662.000000,1.662000e+03,1706.000000,1706.000000,1706.000000,1706.000000,1706.000000,1706.000000,1706.000000,...,1219.000000,1219.000000,1219.000000,1219.000000,1219.000000,1219.000000,1219.000000,1219.000000,1219.000000,1219.000000
mean,852.500000,6.693712,4.244832e+05,159.832298,93722.640387,0.579812,16.949971,2534.319408,39532.997989,141.083359,...,36.718302,2412.577137,44.371313,997.789467,21.931386,503.284315,1.905816,27.560722,2.868532,65.999467
std,492.624096,3.450098,2.866509e+05,86.456235,55898.712237,0.208948,6.082552,1544.973019,21570.239669,30.777404,...,12.176996,1060.856869,15.415501,287.904139,10.773602,165.738797,1.188726,15.036837,2.598883,33.723551
min,0.000000,0.000000,1.200000e-01,6.060000,2093.330000,0.160000,4.310000,289.000000,4333.740000,45.950000,...,11.040000,426.000000,18.550000,448.220000,6.500000,205.570000,0.480000,7.640000,0.520000,7.670000
25%,426.250000,4.690000,1.450407e+05,101.142500,54258.775000,0.430000,13.115000,1105.417500,19857.672500,122.920000,...,29.100000,1662.490000,31.505000,792.295000,13.110000,384.020000,0.970000,17.290000,1.120000,43.775000
50%,852.500000,7.580000,4.712746e+05,150.425000,100410.525000,0.570000,16.880000,2280.215000,37306.855000,146.885000,...,35.530000,2275.610000,42.620000,950.050000,19.400000,490.740000,1.460000,20.740000,1.550000,59.320000
75%,1278.750000,9.180000,6.287014e+05,214.232500,128357.650000,0.700000,20.377500,3828.060000,56383.285000,161.800000,...,42.080000,3005.865000,54.585000,1121.195000,28.660000,598.105000,2.510000,34.890000,3.875000,79.415000
max,1705.000000,18.760000,1.589480e+06,579.280000,396593.310000,1.680000,44.220000,6441.180000,95915.610000,256.870000,...,107.590000,10554.450000,124.920000,2679.660000,76.720000,1328.250000,6.070000,99.670000,13.590000,241.630000

## 2. Data Pre-processing

Data preprocessing involves cleaning and preparing the dataset for analysis. This includes handling missing values, removing duplicates, correcting data types, and creating derived variables to support meaningful analysis.

In [8]:
df.isnull().sum()

Unnamed: 0                                  0
date                                        0
rtgs_vol                                   44
rtgs_val                                   44
neft_vol                                    0
neft_val                                    0
aeps_vol                                    0
aeps_val                                    0
upi_vol                                     0
upi_val                                     0
imps_vol                                    0
imps_val                                    0
nach_credit_vol                            95
nach_credit_val                            95
nach_debit_vol                             98
nach_debit_val                             98
netc_vol                                    0
netc_val                                    0
bbps_vol                                    0
bbps_val                                    0
cts_vol                                   366
cts_val                                   366
nfs_through_atms_vol                        0
nfs_through_atms_val                        0
aeps_through_micro_atms_or_bcs_vol          0
aeps_through_micro_atms_or_bcs_val          0
credit_card_at_pos_and_e_commerce_vol    1372
credit_card_at_pos_and_e_commerce_val    1372
debit_card_at_pos_and_e_commerce_vol     1372
debit_card_at_pos_and_e_commerce_val     1372
ppis_card_at_pos_and_e_commerce_vol      1372
ppis_card_at_pos_and_e_commerce_val      1372
government_securities_clearing_vol        689
government_securities_clearing_val        690
forex_clearing_vol                        696
forex_clearing_val                        696
rupee_derivatives_vol                     693
rupee_derivatives_val                     693
credit_card_at_pos_vol                    487
credit_card_at_pos_val                    487
credit_card_at_e_commerce_vol             487
credit_card_at_e_commerce_val             487
debit_card_at_pos_vol                     487
debit_card_at_pos_val                     487
debit_card_at_e_commerce_vol              487
debit_card_at_e_commerce_val              487
ppis_card_at_pos_vol                      487
ppis_card_at_pos_val                      487
ppis_card_at_e_commerce_vol               487
ppis_card_at_e_commerce_val               487
dtype: int64

In [12]:
# 1. Drop columns with all values missing (like unnamed, empty columns)
df = df.dropna(axis=1, how='all')

# 2. Forward-fill remaining missing values for time-series consistency
df = df.ffill()

### Removing Duplicate Records

Duplicate records can distort analysis results. This step ensures that each observation in the dataset is unique.

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df = df.drop_duplicates()

### Correcting Data Types

The date variable is converted into a datetime format to enable time-series analysis. Correct data types improve analytical accuracy.

In [15]:
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

### Creating Derived Columns

Derived variables help in deeper analysis. Additional time-based variables such as year and month are created to study trends over time.

In [16]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

### Filtering and Aggregating Data

Aggregation helps in understanding long-term trends and comparative growth across payment systems. Data is grouped by year to analyze annual transaction patterns.

In [17]:
yearly_summary = df.groupby('year')[['upi_vol', 'upi_val', 'neft_vol', 'neft_val']].sum()
yearly_summary

         upi_vol      upi_val  neft_vol     neft_val
year
2020   127692.87   2372994.97  18061.32  14977711.95
2021   387331.41   7157613.30  38008.83  27678182.28
2022   740396.89  12594493.43  49480.22  32795142.43
2023  1176087.55  18287634.94  65871.24  37313078.34
2024  1722080.18  24682520.82  92684.34  43278676.55
2025   169960.01   2348037.11   8567.95   3848032.95

In [ ]:
### Interpretation

The preprocessing steps ensure that the dataset is clean, consistent, and suitable for exploratory data analysis. The cleaned data allows meaningful comparison across payment systems and supports reliable visualization and insight generation in later stages of the project.